<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map Test</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.2.0/leaflet.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.2.0/leaflet.js"></script>
    <style>
        #copernicusMap {
            width: 100%;
            height: 600px;
        }
    </style>
</head>
<body>
    <div id="copernicusMap"></div>
    <script>
        let osm = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        });

        let map = L.map('copernicusMap', {
            center: [46.119944, 14.815333], // Latitude and Longitude
            zoom: 12,
            layers: [osm]
        });
    </script>
</body>
</html>